<!--ページタイトルの指定-->
<% content_for :title do %>
  お問い合わせフォーム | kokoro room
<% end %>

<div class="container">

  <!--エラーメッセージの表示-->
  <%= render 'layouts/alert' %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">お問い合わせフォーム</h2>
    </div>
  </div>

  <div class="row pl-4">
    <div class="col">
      <p class="text-info">
        <i class="fas fa-exclamation-circle"></i>ご質問等ございましたら、ご連絡ください。お問い合わせ内容は管理者にのみ送信されます。
      </p>
    </div>
  </div>

  <%= form_with model: @contact, url: contacts_path, local:true do |f| %>

  <div class="row pl-5 pb-3">
    <%= f.label :name, "お名前", class:"col-3" %>
    <%= f.text_field :name, autofocus: true, class:"col-3", placeholder:"ココロ タロウ" %>
  </div>

  <div class="row pl-5 pb-3">
    <%= f.label :email, "メールアドレス", class:"col-3" %>
    <%= f.email_field :email, autocomplete: "email", class:"col-3", placeholder:"kokoro@taro.com" %>
  </div>

  <div class="row pl-5 pb-3">
    <%= f.label :body, "お問い合わせ内容", class:"col-3" %>
    <%= f.text_area :body, class:"col-5", rows:"10", placeholder:"お問い合わせ内容を入力してください" %>
  </div>

  <div class="row mr-5 pl-5 pb-3">
    <div class="offset-3 col-3">
      <%= button_tag :type => "submit", :class => "form-control form-control-sm btn btn-success" do %>
        <i class="far fa-envelope"></i> 送信
      <% end %>
    </div>
  </div>
  <% end %>

</div>