<!--ページタイトルの指定-->
<% content_for :title do %>
  <%= @member.name %>さんの会員詳細 | kokoro room
<% end %>

<div class="container">

  <!--サクセスメッセージの表示-->
  <%= render 'layouts/notice' %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded"><%= @member.name %>さんの会員詳細</h2>
    </div>
  </div>

  <div class="row pl-5">
    <h5 class="col-4">プロフィール画像</h5>
    <p class="col-3"><%= attachment_image_tag @member, :image, size:"50x50", format:'jpeg', fallback:"no_image.jpg", class:"rounded-circle" %></p>
  </div>

  <div class="row pl-5">
    <h5 class="col-4">メールアドレス</h5>
    <p class="col-3"><%= @member.email %></p>
  </div>

  <div class="row pl-5">
    <h5 class="col-4">会員ステータス</h5>
    <!--会員ステータスを文字列化-->
    <p class="col-3">
      <% if @member.is_deleted == false %>
        <span class="text-success">有効</span>
      <% else %>
　      <span class="text-secondary">退会</span>
      <% end %>
    </p>
  </div>

  <div class="row pl-5">
    <%= link_to edit_admin_member_path, class:"offset-4 col-2 btn btn-success" do %>
      <i class="fas fa-edit"></i> 編集
    <% end %>
  </div>

</div>