<!--ページタイトルの指定-->
<% content_for :title do %>
  管理者ログイン | kokoro room
<% end %>

<div class="container pt-5">

  <!--サクセスメッセージの表示-->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <!--エラーメッセージの表示-->
  <% if @admin.errors.any? %>
    <div id="error_explanation">
    <ul>
      <% @admin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">管理者ログイン</h2>
    </div>
  </div>

  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

  <div class="field row pl-5 pb-3">
    <div class="col-4">
      <%= f.label :email, "メールアドレス" %>
      <span class="badge badge-danger">必須</span>
    </div>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-3 form-control form-control-bg", placeholder:"kokoro@taro.com" %>
  </div>

  <div class="field row pl-5 pb-3">
    <div class="col-4">
      <%= f.label :password, "パスワード" %>
      <span class="badge badge-danger">必須</span>
    </div>
    <%= f.password_field :password, autocomplete: "current-password", class:"col-3 form-control form-control-bg" %>
  </div>

  <div class="actions row mr-4 pl-5 pb-3">
    <div class="offset-4 col-3">
      <%= button_tag :type => "submit", :class => "form-control form-control-sm btn btn-primary" do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
    </div>
  </div>

  <% end %>

</div>