<!--ページタイトルの指定-->
<% content_for :title do %>
  <% if @content.present? %>
    「<%= @content %>」の検索結果 | kokoro room
  <% else %>
    検索ワードが入力されていません | kokoro room
  <% end %>
<% end %>

<div class="container">

  <div class="row my-5">
    <div class="col-6">
      <!--検索結果により見出しを変更-->
      <% if @content.present? %>
        <h2 class="mark text-center rounded">「<%= @content %>」の検索結果</h2>
      <% else %>
        <h2 class="text-center text-danger"><i class="fas fa-exclamation-triangle"></i> 検索ワードが入力されていません</h2>
      <% end %>
    </div>
  </div>

<!--検索結果がある場合-->
<% if (@datas.present?) && (@content.present?) %>
  <div class="row d-flex flex-wrap pb-5">

    <% @datas.reverse_each do |data| %>

    <div class="col-4 bg-light border border-secondary m-5 p-5 rounded">
      <!--ベストアンサーが決定済みの場合-->
      <% if data.best_answer_id.present? %>
        <h5 class="text-success"><i class="fas fa-check-circle"></i> 解決済み</h5>
      <!--ベストアンサーが未決定、悩み事の投稿者が退会状態の場合-->
      <% elsif data.member.is_deleted != false %>
        <h5 class="text-secondary"><i class="far fa-hand-paper"></i> 回答受付終了</h5>
      <!--上記以外の場合-->
      <% else %>
        <h5 class="text-danger"><i class="fas fa-bullhorn"></i> 回答受付中</h5>
      <% end %>

      <!--ユーザーが退会していればニックネームを非表示-->
      <h4>
        <% if data.member.is_deleted == false %>
          <%= attachment_image_tag data.member, :image, size:"40x40", format:'jpeg', fallback:"no_image.jpg", class:"rounded-circle" %> <%= data.member.name %>さんの投稿
        <% else %>
          <!--ユーザーが退会していれば、プロフィール画像はデフォルト表示-->
          <%= image_tag "no_image.jpg", size:"40x40", format:'jpeg', class:"rounded-circle" %> 退会済みユーザーさんの投稿
        <% end %>
      </h4>

      <h5 class="mt-3">投稿日時</h5>
      <%= data.created_at.to_s(:datetime_jp) %>

      <h4 class="mt-3">タイトル</h4>
      <!--タイトルをクリック後、悩み事詳細画面へ遷移-->
      <%= link_to data.title, problem_path(data.id) %>

      <h4 class="mt-3">悩み事の内容</h4>
      <%= data.body %>

      <h4 class="mt-3">カテゴリー</h4>
      <%= data.category.name %>
    </div>

    <% end %>

  <%= render 'layouts/back' %>

  </div>
<!--検索欄に入力はあるが、検索結果が無い場合-->
<% elsif (@datas.blank?) && (@content.present?) %>
  <p class="ml-5 pl-5">
    検索結果はありませんでした。<br />
    検索しても見つからない場合は<%= link_to 'こちら', new_problem_path %>から悩み事を投稿しましょう。
  </p>
<!--検索欄に入力が無い場合-->
<% else %>
  <p class="ml-5 pl-5">
    検索ワードを入力後、再度検索してください。<br />
    検索しても見つからない場合は<%= link_to 'こちら', new_problem_path %>から悩み事を投稿しましょう。
  </p>
<% end %>

</div>