<!--会員ログイン時はログインユーザーの悩み履歴一覧を表示-->
<% if member_signed_in? %>

<div class="container">

  <!--サクセスメッセージの表示-->
  <%= render 'layouts/notice' %>

  <span style="position:fixed; right:20px;">
    <%= link_to new_contacts_path, class:"btn btn-info" do %>
      <h6 class="mt-2"><i class="far fa-envelope"></i> お問い合わせ</h6>
    <% end %>
  </span>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded"><%= @member.name %>さんの悩み事履歴一覧</h2>
    </div>

    <div class="col-6 pl-5">
      <%= link_to new_problem_path, class:"btn btn-primary" do %>
        <h4 class="mt-2"><i class="fas fa-comment-medical"></i> 悩み事の投稿</h4>
      <% end %>
    </div>
  </div>

  <% if @problems.present? %>
  <div class="row d-flex flex-wrap">
    <% @problems.reverse_each do |problem| %>

    <div class="col-4 bg-light border border-secondary m-5 p-5 rounded">
      <h5>投稿日時</h5>
      <%= problem.created_at.to_s(:datetime_jp) %>

      <h4 class="mt-3">タイトル</h4>
      <!--タイトルをクリック時、悩み事の詳細画面へ遷移-->
      <%= link_to problem.title, problem_path(problem.id) %>

      <h4 class="mt-3">悩み事の内容</h4>
      <%= problem.body %>

      <h4 class="mt-3">カテゴリー</h4>
      <%= problem.category.name %>
    </div>

    <% end %>
  </div>
  <% else %>
    <div class="row pt-3 pl-5">
      <h4 class="col pl-5">悩み事はまだありません。</h4>
    </div>
  <% end %>

  <div class="row mt-5 pb-5">
    <p class="col-12 text-center pb-5">退会手続きは<%= link_to 'こちら', members_unsubscribe_path %>から出来ます。</p>
  </div>

<%= render 'layouts/back' %>

</div>

<!--会員未登録時、ログアウト時は新規登録、ログインのリンクをそれぞれ表示-->
<% else %>

<div class="container pt-5">

  <!--サクセスメッセージの表示-->
  <%= render 'layouts/notice' %>

  <div class="row pt-3">
    <h1 class="col mark text-center rounded">kokoro roomへようこそ！</h1>
  </div>

  <div class="row py-5">
    <p class="col text-center">
      kokoro roomは一人では解決することが難しい悩みをお持ちの方や、<br>
      周囲に悩みを相談することにためらいがある方のためのオンラインお悩み相談所です。<br>
    </p>
  </div>

  <!--画像スライダーの挿入-->
  <div id="slide">
    <div id="theTarget">
      <%= image_tag 'heart.jpg' %>
      <%= image_tag 'smile.jpg' %>
      <%= image_tag 'friendship.jpg' %>
      <%= image_tag 'gender.jpg' %>
    </div>
  </div>

  <div class="row mt-5 py-5">
    <h2 class="col mark text-center rounded">現代人の悩み事に関するデータ</h2>
  </div>

    <div class="row">
      <p class="col text-center">
        下図は平成22年に厚生労働省が実施した国民生活調査の悩みやストレスに関する内容です。
      </p>
    </div>

    <!--グラフの挿入-->
    <div class="row graph1">
      <%= image_tag 'graph1.png', class:"col-10 mx-auto pr-5" %>
    </div>
    <div class="row graph2">
      <%= image_tag 'graph2.png', class:"col-10 mx-auto pl-5 py-5" %>
    </div>

    <div class="row">
      <p class="col text-center">
        ご覧の通り、男女年齢問わず悩み事を抱えている方が多いです。<br />
        内容は仕事や人間関係、プライベートと多岐に渡ります。
      </p>
    </div>

    <div class="row mt-5 py-5">
      <h2 class="col mark text-center rounded">悩み事を解決するために</h2>
    </div>

    <div class="row">
      <p class="col text-center">
        悩み事を周囲に相談出来ない人や抱え込んでしまう人は少なくありません。<br />
        そこで・・・
      </p>
    </div>

    <div class="row scale py-5">
      <h3 class="col text-center">kokoro roomで悩み事を投稿し、解決しましょう！</h3>
    </div>

    <div class="row scale pb-5">
      <%= image_tag 'hands.jpg', class:"col-8 mx-auto" %>
    </div>

  <div class="row pt-5">
    <h2 class="col text-center">さあ、はじめましょう！</h2>
  </div>

    <div class="row pb-5">
      <p class="col text-center pb-5">
        ご利用の方は<%= link_to 'こちら', new_member_registration_path %>から新規登録して下さい。<br />
        登録済みの方は<%= link_to 'こちら', new_member_session_path %>からログインして下さい。<br />
        サイトの利用方法については<%= link_to 'こちら', about_path %>をご確認下さい。
      </p>
    </div>

<%= render 'layouts/back' %>

</div>

<% end %>