<!--HTML形式のメールテンプレート-->
<!--ステータスが有効となった場合の内容-->
<% if @member.is_deleted == false %>
  <h5>kokororoom アカウント復旧のお知らせ</h5>

  <p>--------------------------</p>

  <p><%= @member.name %>様</p>

  <p>
    アカウント復旧の手続きが完了しましたので、お知らせいたします。<br />
    既にご登録済みのメールアドレス、パスワードからログインいただけますのでよろしくお願いいたします。
  </p>

  <p>心当たりが無い、不具合等ございましたらサイト内のお問い合わせフォームからご連絡ください。</p>

  <p>==========================</p>

  <p>kokororoom：<%= link_to 'https://kokororoom.net/', root_url %></p>

  <p>==========================</p>
<!--ステータスが退会となった場合の内容-->
<% elsif @member.is_deleted == true %>
  <h5>kokororoom アカウント凍結のお知らせ</h5>

  <p>--------------------------</p>

  <p><%= @member.name %>様</p>

  <p>
    <%= @member.name %>様の投稿に不適切な内容が確認されたため、アカウントを凍結いたしました。<br />
    今後このアカウントはご利用いただけません。
  </p>

  <p>心当たりが無い場合はサイト内のお問い合わせフォームからご連絡ください。</p>

  <p>==========================</p>

  <p>kokororoom：<%= link_to 'https://kokororoom.net/', root_url %></p>

  <p>==========================</p>
<% end %>