<!--ページタイトルの指定-->
<% content_for :title do %>
  <%= @member.name %>さんのマイページ | kokoro room
<% end %>

<div class="container pb-5">

  <!--サクセスメッセージの表示-->
  <%= render 'layouts/notice' %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded"><%= @member.name %>さんのマイページ</h2>
    </div>
  </div>

  <div class="row pl-5 pb-3">
    <h5 class="col-4">プロフィール画像</h5>
    <p class="col-3"><%= attachment_image_tag @member, :image, size:"150x150", format:'jpeg', fallback:"no_image.jpg", class:"rounded-circle" %></p>
  </div>

  <div class="row pl-5 pb-3">
    <h5 class="col-4">悩み事の投稿総数</h5>
    <p class="col-3"><%= @member.problems.count %>件</p>
  </div>

  <div class="row pl-5 pb-3">
    <h5 class="col-4">回答の投稿総数</h5>
    <p class="col-3"><%= @member.advices.count %>件</p>
  </div>

  <div class="row pl-5 pb-3">
    <%= link_to members_my_page_edit_path, class:"btn btn-success offset-4 col-4" do %>
      <i class="fas fa-user-cog"></i> プロフィール編集
    <% end %>
  </div>

  <div class="row pl-5 pb-3">
    <%= link_to members_unsubscribe_path, class:"btn btn-danger offset-4 col-4" do %>
      <i class="fas fa-door-open"></i> 退会手続き
    <% end %>
  </div>

</div>