<!--ページタイトルの指定-->
<% content_for :title do %>
  新規登録 | kokoro room
<% end %>

<div class="container pt-5">

  <!--エラーメッセージの表示-->
  <%= render "devises/shared/error_messages", resource: resource %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">会員新規登録</h2>
    </div>
  </div>

  <div class="row pl-4">
    <div class="col">
      <p class="text-danger">
        <i class="fas fa-exclamation-circle"></i>ご登録時の情報は後で変更することができません。あらかじめご了承ください。
      </p>
    </div>
  </div>

  <%= form_with model: @member, url: member_registration_path, class:"form", local: true do |f| %>

  <div class="row pl-5 pb-3">
    <%= f.label :name, "ニックネーム", class:"col-3" %>
    <%= f.text_field :name, autofocus: true, class:"col-3", placeholder:"ココロ タロウ" %>
  </div>

  <div class="field row pl-5 pb-3">
    <%= f.label :email, "メールアドレス", class:"col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-3", placeholder:"kokoro@taro.com" %>
  </div>

  <div class="field row pl-5 pb-3">
    <%= f.label :password, "パスワード（６文字以上）", class:"col-3" %>
    <% if @minimum_password_length %>
    <em><% @minimum_password_length %></em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class:"col-3" %>
  </div>

  <div class="field row pl-5 pb-3">
    <%= f.label :password_confirmation, "パスワード（確認用）", class:"col-3" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-3" %>
  </div>

  <div class="actions row mr-5 pl-5 pb-3">
    <div class="offset-3 col-2">
    <%= button_tag :type => "submit", :class => "form-control form-control-sm btn btn-success" do %>
      <i class="fas fa-user-plus"></i> 登録
    <% end %>
    </div>
  </div>

  <% end %>

  <div class="row pl-5 pb-5">
    登録済みの方は<%= link_to 'こちら', new_member_session_path %>からログインして下さい。
  </div>

</div>