<div class="container pb-5">

  <!--エラーメッセージの表示-->
  <%= render 'layouts/alert' %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">カテゴリー編集</h2>
    </div>
  </div>

  <!--カテゴリー編集フォーム-->
  <div class="row form pl-5">
  <%= form_with model: @category, url: admin_category_path(@category.id), local:true do |f| %>
    <%= f.label :name, "カテゴリー名", class:"col-3" %>
    <%= f.text_field :name, class:"col-4", placeholder:"ここに入力" %>
    <%= button_tag :type => "submit", :class => "offset-3 col-2 form-control form-control-sm btn btn-success" do %>
      <i class="fas fa-edit"></i> 編集
    <% end %>
  <% end %>
  </div>

</div>