<h2>カテゴリー作成</h2>

<!--カテゴリー作成フォーム-->
<h4>カテゴリー名</h4>
<%= form_with model: @category, url: admin_categories_path, local:true do |f| %>
  <%= f.text_field :name %>
  <%= f.submit '作成' %>
<% end %>


<h2>カテゴリー一覧</h2>

<!--カテゴリー一覧表示-->
<% @categories.each do |category| %>
  <%= category.name %>
  <%= link_to '編集', edit_admin_category_path(category.id) %>
<% end %>