<!--ページタイトルの指定-->
<% content_for :title do %>
  カテゴリー管理 | kokoro room
<% end %>

<div class="container pb-5">

  <!--サクセスメッセージとエラーメッセージの表示-->
  <%= render 'layouts/notice' %>
  <%= render 'layouts/alert' %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">カテゴリー作成</h2>
    </div>
  </div>

  <!--カテゴリー作成フォーム-->
  <div class="row form pl-5">
  <%= form_with model: @category, url: admin_categories_path, local:true do |f| %>
    <%= f.label :name, "カテゴリー名", class:"col-3" %>
    <%= f.text_field :name, class:"col-4", placeholder:"ここに入力" %>
    <%= button_tag :type => "submit", :class => "offset-3 col-2 form-control form-control-sm btn btn-success" do %>
      <i class="fas fa-plus-circle"></i> 作成
    <% end %>
  <% end %>
  </div>

  <h5 class="row pt-5 pl-5">カテゴリー一覧</h5>

  <!--カテゴリー一覧表示-->
  <table class="table table-hover w-50 pb-5">
    <thead>
      <tr>
        <th>カテゴリー名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td>
          <%= link_to edit_admin_category_path(category.id), class:"btn btn-success" do %>
            <i class="fas fa-edit"></i> 編集
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<%= render 'layouts/back' %>

</div>