<!--ページタイトルの指定-->
<% content_for :title do %>
  <%= @problem.title %> | kokoro room
<% end %>

<div class="pb-5">
<div class="container pb-5">

  <!--サクセスメッセージの表示-->
  <%= render 'layouts/notice' %>

  <!--悩み事の詳細画面-->
  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded"><%= @problem.member.name %>さんの悩み事詳細</h2>
    </div>
  </div>

  <div class="row pl-5">
    <h5 class="col-3">投稿日時</h5>
    <p class="col-3"><%= @problem.created_at.to_s(:datetime_jp) %></p>
  </div>

  <div class="row pl-5">
    <h5 class="col-3">タイトル</h5>
    <p class="col-3"><%= @problem.title %></p>
  </div>

  <div class="row pl-5">
    <h5 class="col-3">悩み事の内容</h5>
    <p class="col-3"><%= @problem.body %></p>
  </div>

  <div class="row pl-5">
    <h5 class="col-3">カテゴリー</h5>
    <p class="col-3"><%= @problem.category.name %></p>
  </div>

  <!--自分の悩み事の投稿であれば、悩み事の削除リンクが表示-->
  <div class="row ml-2 pl-5">
    <% if @problem.member_id == current_member.id %>
      <%= link_to problem_path(@problem.id), method: :delete, "data-confirm" => "本当に削除しますか?", class:"offset-3 col-3 btn btn-danger" do %>
        <i class="fas fa-trash-alt"></i> 悩み事を削除
      <% end %>
    <% end %>
  </div>

  <!--他人の悩み事の投稿であれば、回答の投稿リンクが表示-->
  <div class="row ml-2 pl-5">
    <% if @problem.member_id != current_member.id %>
      <%= link_to new_problem_advice_path(@problem.id), class:"offset-3 col-3 btn btn-success" do %>
        <i class="fas fa-plus-circle"></i> 回答を投稿
      <% end %>
    <% end %>
  </div>

</div>

<div class="container pl-5 pb-5">
  <!--回答がある場合-->
    <% if @problem.advices.present? %>

    <% @problem.advices.reverse_each do |advice| %>

    <div class="row pt-3 pl-3 border-top border-secondary">
      <h4 class="col-4"><i class="far fa-comment-dots"></i> <%= advice.member.name %>さんからの回答</h4>
    </div>

    <div class="row pl-3">
      <p class="col-4">投稿日時：<%= advice.created_at.to_s(:datetime_jp) %></p>
    </div>

    <div class="row pl-3">
      <p class="col-4"><%= advice.body %></p>
    </div>

    <!--いいね機能を非同期実装のため、パーシャル化-->
    <div id="advice_<%= advice.id %>">
      <%= render 'advice', problem: @problem, advice: advice %>
    </div>

    <!--自分の悩み事の投稿であれば、ベストアンサーのリンクが表示-->
    <div class="row ml-2 pl-5">
    <% if @problem.member_id == current_member.id %>
      <%= form_with model: @problem, local:true do |f| %>
        <%= f.hidden_field :best_answer_id, value: advice.id %>
        <%= f.submit 'ベストアンサーにする' %>
      <% end %>
    <% end %>
    </div>

      <!--回答の投稿者であれば、回答の削除リンクが表示-->
      <div class="row pl-5">
      <% if advice.member_id == current_member.id %>
        <%= link_to problem_advice_path(advice.id), method: :delete, "data-confirm" => "本当に削除しますか?", class:"offset-3 col-3 btn btn-danger" do %>
          <i class="fas fa-trash-alt"></i> 回答を削除
        <% end %>
      <% end %>
      </div>

      <!--回答が存在、かつログインユーザーが悩み事の投稿者の場合、返事の投稿リンクが表示-->
      <div class="row pl-5">
      <% if @problem.member_id == current_member.id %>
        <%= link_to new_problem_advice_response_path(@problem, advice_id: advice.id), class:"offset-3 col-3 btn btn-success" do %>
          <i class="fas fa-plus-circle"></i> 返事を投稿
        <% end %>
      <% end %>
      </div>

      <!--返事がある場合-->
      <% if advice.responses.present? %>

        <% advice.responses.reverse_each do |response| %>

          <div class="row pt-3 pl-5">
            <h4 class="col-4"><i class="fas fa-reply fa-rotate-180"></i> <%= response.member.name %>さんからの返事</h4>
          </div>

          <div class="row pl-5">
            <p class="col-4">投稿日時：<%= response.created_at.to_s(:datetime_jp) %></p>
          </div>

          <div class="row pl-5">
            <p class="col-4"><%= response.body %></p>
          </div>

          <!--5段階評価の星の表示-->
          <div class="pl-5">
            回答への評価：<span class="text-danger"><%= response.rate %></span>
          </div>

          <div id="star-<%= response.id %>" class="pl-5"></div>
          <script>
            $('#star-<%= response.id %>').raty({
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= response.rate %>
            });
          </script>

          <!--返事の投稿者であれば、返事の削除リンクが表示-->
          <div class="row pl-5">
          <% if response.member_id == current_member.id %>
            <%= link_to problem_advice_response_path(@problem, response.id), method: :delete, "data-confirm" => "本当に削除しますか?", class:"offset-3 col-3 btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i> 返事を削除
            <% end %>
          <% end %>
          </div>

        <% end %>

      <!--返事が無い場合-->
      <% else %>

        <!--返事が無く回答がある場合-->
        <div class="row pt-3 pl-3">
        <% if @problem.advices.present? %>
          <h4 class="col-4">返事はまだありません。</h4>
        <% end %>
        </div>

      <% end %>

    <% end %>

    <!--回答が無い場合-->
    <% else %>

    <div class="row pt-3 pl-3">
      <h4 class="col-4">回答はまだありません。</h4>
    </div>

    <% end %>
  </div>
</div>

<%= render 'layouts/back' %>

</div>