<!--ページタイトルの指定-->
<% content_for :title do %>
  ログイン | kokoro room
<% end %>

<div class="container pt-5">

  <!--サクセスメッセージの表示-->
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <% end %>

  <!--エラーメッセージの表示-->
  <% if @member.errors.any? %>
    <div id="error_explanation">
    <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div class="row my-5">
    <div class="col-6">
      <h2 class="mark text-center rounded">会員ログイン</h2>
    </div>
  </div>

  <%= form_with model: @member, url: member_session_path, local:true do |f| %>

  <div class="field row pl-5 pb-3">
    <%= f.label :email, "メールアドレス", class:"col-3" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-3", placeholder:"kokoro@taro.com" %>
  </div>

  <div class="field row pl-5 pb-3">
    <%= f.label :password, "パスワード", class:"col-3" %>
    <%= f.password_field :password, autocomplete: "current-password", class:"col-3" %>
  </div>

  <div class="actions row mr-5 pl-5 pb-3">
    <div class="offset-3 col-2">
      <%= button_tag :type => "submit", :class => "form-control form-control-sm btn btn-primary" do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
    </div>
  </div>

  <% end %>

  <div class="row pl-5 pb-5">
    登録がまだの方は<%= link_to 'こちら', new_member_registration_path %>から新規登録して下さい。
  </div>

</div>