<!--管理者ログイン時のヘッダー-->
<% if admin_signed_in? %>

<nav class="navbar navbar-expand navbar-dark mw-100 sticky-top" style="background-color:#f5b2ac; border-bottom:1px solid #000;">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class:"logo" %>
  <% end %>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item pl-3">
      <%= link_to admin_path, class:"nav-link" do %>
        <i class="far fa-tired"></i>悩み事一覧
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to admin_members_path, class:"nav-link" do %>
        <i class="fas fa-users"></i> 会員一覧
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to admin_categories_path, class:"nav-link" do %>
        <i class="fas fa-sort"></i> カテゴリー管理
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to destroy_admin_session_path, method: :delete, class:"nav-link" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
      <% end %>
    </li>
  </ul>
</div>
</nav>

<!--会員ログイン時のヘッダー-->
<% elsif member_signed_in? %>

<nav class="navbar navbar-expand navbar-dark mw-100 sticky-top" style="background-color:#f5b2ac; border-bottom:1px solid #000;">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class:"logo" %>
  <% end %>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item pl-3">
      <%= link_to problems_path, class:"nav-link" do %>
        <i class="fas fa-frown"></i> 悩み事一覧
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to categories_path, class:"nav-link" do %>
        <i class="fas fa-angle-double-down"></i> カテゴリー一覧
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to map_path, class:"nav-link" do %>
        <i class="fas fa-map-marked-alt"></i> 癒しスポット一覧
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to destroy_member_session_path, method: :delete, class:"nav-link" do %>
        <i class="fas fa-sign-out-alt"></i> ログアウト
      <% end %>
    </li>
  </ul>
</div>
<!--悩み事検索フォームの表示-->
<div class="nav-item form-inline pl-3 navbar-right">
  <%= form_tag(searches_path, method: :get) do %>
    <%= select_tag 'column', options_for_select({"タイトルから悩み事の検索" => "title", "内容から悩み事の検索" => "body"}), class:"form-control form-control-sm" %>
    <%= text_field_tag('content', "", {class:"form-control form-control-sm", placeholder:"ここに入力して下さい"}) %>
    <%= select_tag 'option', options_for_select({"全て表示" => "all", "回答受付中" => "unsolved", "解決済み" => "solved", "回答受付終了" => "finished"}), class:"form-control form-control-sm" %>
    <%= button_tag :type => "submit", :class => "form-control form-control-sm" do %>
      <i class="fa fa-search"></i> 検索
    <% end %>
  <% end %>
</div>
</nav>

<!--ユーザーログアウト時のヘッダー-->
<% else %>

<nav class="navbar navbar-expand navbar-dark mw-100 sticky-top" style="background-color:#f5b2ac; border-bottom:1px solid #000;">
  <%= link_to root_path do %>
    <%= image_tag 'logo.png', class:"logo" %>
  <% end %>
<div class="collapse navbar-collapse">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item pl-3">
      <%= link_to about_path, class:"nav-link" do %>
        <i class="fas fa-info-circle"></i> サイトについて
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to new_member_registration_path, class:"nav-link" do %>
        <i class="fas fa-user-plus"></i> 新規登録
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to new_member_session_path, class:"nav-link" do %>
        <i class="fas fa-sign-in-alt"></i> ログイン
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to new_admin_session_path, class:"nav-link" do %>
        <i class="fas fa-user-tie"></i> 管理者ログイン
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to members_guest_sign_in_path, method: :post, class:"nav-link" do %>
        <i class="fas fa-forward"></i> ゲストログイン
      <% end %>
    </li>
    <li class="nav-item pl-3">
      <%= link_to new_contacts_path, class:"nav-link" do %>
        <i class="far fa-envelope"></i> お問い合わせ
      <% end %>
    </li>
  </ul>
</div>
</nav>

<% end %>